main{
    padding-top: 160px;
}
main div[class^="col"]{
    padding-top: 0 !important;
}
div.login,div.register,div.box{
    background-color: var(--color4);
    min-height: 50px;
}
.red{
    color: red;
}
.form-control,.form-select{
    border: 0 !important;
    background-color: var(--color3);
    color: white;
}
.form-control:focus,.form-select{
    background-color: var(--color3);
    color: white;
}
#user-email,#email{
    direction: rtl;
}
.forgot-pas:link,
.forgot-pas:visited{
    word-spacing: -2px;
}
.wrapper{
    width: fit-content;
}
.wrapper a:link,
.wrapper a:visited{
    width: 110px;
    height: 50px;
    font-size: 17px;
}
.wrapper a:link.active,
.wrapper a:visited.active{
    background-color: var(--color1);
    color: white;
}
.wrapper a:link:not(.active),
.wrapper a:visited:not(.active){
    border: 2px solid var(--color1);
    color: var(--color1);
    transition: all 300ms;
}
.wrapper a:link:not(.active):hover,
.wrapper a:visited:not(.active):hover{
    background-color: var(--color1);
    color: white;
}
